* {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    background-image: url('https://images.wallpaperscraft.com/image/single/light_faded_background_85547_1280x720.jpg');
    background-size: cover;
}

.main-styling {
    background-color: white;
    box-shadow: 5px 5px 10px 2px #888888;
}

#inputAmount {
    font-size: 2vh;
}

#outputAmount {
    font-size: 3vh;
}

.title-styling {
    font-size: 4vh;
}

.btn-styling {
    background-color: black;
    color: white;
}

.btn-styling:hover {
    background-color: orangered;
    color: white;
}